@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 11%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 11%;
    --primary: 277 61% 58%;
    --primary-foreground: 208 100% 97%;
    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 10%;
    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 47%;
    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 100% 70%;
    --destructive-foreground: 208 100% 97%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 277 61% 58%;
    --radius: 0.5rem;
    --chart-1: 355 77% 59%;
    --chart-2: 172 86% 31%;
    --chart-3: 195 65% 28%;
    --chart-4: 43 100% 67%;
    --chart-5: 32 100% 56%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 0 0% 26%;
    --sidebar-primary: 277 61% 58%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-secondary: 0 0% 10%;
    --sidebar-secondary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 96%;
    --sidebar-accent-foreground: 0 0% 10%;
    --sidebar-border: 0 0% 90%;
    --sidebar-ring: 277 61% 58%;
  }
  
  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
    --card: 0 0% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 246 91% 61%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 100% 70%;
    --destructive-foreground: 208 100% 97%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 246 91% 61%;
    --chart-1: 210 71% 56%;
    --chart-2: 146 50% 35%;
    --chart-3: 33 100% 50%;
    --chart-4: 288 60% 58%;
    --chart-5: 340 60% 65%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 96%;
    --sidebar-primary: 246 91% 61%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 15%;
    --sidebar-accent-foreground: 0 0% 96%;
    --sidebar-border: 0 0% 15%;
    --sidebar-ring: 246 91% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: 'Inter', sans-serif;
}